*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

h1{
    margin: 5px;
}

a{
    text-decoration: none;
    color: white;
}

a:visited{
    color: white;
}

a:hover{
    background-color: rgb(165, 72, 62);
    transition: all 0.3s ease;
}

.entregas{
    margin: 30px;
}

.e1{
    background-color: salmon;
    padding: 20px;
    border-radius: 8px;
}