*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

h1{
    margin: 5px;
}

a{
    text-decoration: none;
    color: white;
}

a:visited{
    color: white;
}

a:hover{
    background-color: rgb(165, 72, 62);
    transition: all 0.3s ease;
}

.container{
    margin: 30px;
}

.entrega{
    background-color: salmon;
    padding: 20px;
    border-radius: 8px;
}

ul li{
    list-style-type: none;
}

.consigna{
    margin: 10px;
}

.tips{
    margin: 20px;
}

.margen{
    margin-top: 20px;
}